<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container" id="container-1">
  <ul>
  <% l = 0 %>
  <% @categories.each do  |category|%>
  <% l = l + 1 %>
  <button class="bouton" id="button-<%=l%>"><%= category.title  %></button>
  <div class="card" id="content-<%=l%>">
    <ul>
      <% category.tasks.each do |task|  %>
      <li class="cate">
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row" id="container-2">
    <% @tasks.each do |task|  %>
      <ul class="card col-3">
        <% unless task.image.nil? %>
          <li><%= image_tag task.image, class: "rounded-circle" %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<script>


$(document).ready(function(){
  var stat1 = 0;
  var stat2 = 0;
  var stat3 = 0;

  $('#content-1').hide();
  $('#content-2').hide();
  $('#content-3').hide();

   $('.card-content').hide();
   $("#button-1").click(function(){
     if (stat1 == 0){
       stat1 = 1;
       stat2 = 0;
       stat3 = 0;
      $("#content-1").show();
      $("#content-2").hide();
      $("#content-3").hide();
     }
     else {
      stat1= 0;
     }
   });
    $("#button-2").click(function(){
     if (stat2 == 0){
       stat1 = 0;
       stat2 = 1;
       stat3 = 0;
      $("#content-1").hide();
      $("#content-2").show();
      $("#content-3").hide();
     }
     else {
      stat2= 0;
     }
   });
     $("#button-3").click(function(){
     if (stat3 == 0){
       stat1 = 0;
       stat2 = 0;
       stat3 = 1;
      $("#content-1").hide();
      $("#content-2").hide();
      $("#content-3").show();
     }
     else {
      stat3 = 0;
     }
   });

  var $carrousel = $('#carrousel'),
  $img = $("#container-2 img"),
  indexImg = $img.length -1,
  i = 0,
  $currentImg = $img.eq(i);

  $img.css('display', 'none');
  $currentImg.css('display', 'block');

  $carrousel.append('<div class="controls"><span class="prev">Précedent</span><span class="next">Suivant</span></div>');

  $('.next').click(function(){
    i++;
    if( i <= indexImg ){
        $img.css('display', 'none');
        $currentImg = $img.eq(i);
        $currentImg.css('display', 'block');
  }
    else{
        i = indexImg;
    }
  });

  $('.prev').click(function(){
    i--;
    if( i >= 0 ){
        $img.css('display', 'none');
        $currentImg = $img.eq(i);
        $currentImg.css('display', 'block');
    }
    else{
        i = 0;
    }
});

  function slideImg(){
    setTimeout(function(){
        if(i < indexImg){
        i++;
    }

    else{
        i = 0;
    }
    $img.css('display', 'none');
    $currentImg = $img.eq(i);
    $currentImg.css('display', 'block');
    slideImg();
    }, 5000);
}
slideImg();


});



</script>